* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Plain Light";
}

body, html {
    height: 100%;
    width: 100%;
    /* cursor: none; */
}

#cursor {
    height: 2.5vw;
    width: 2.5vw;
    border-radius: 50%;
    border: 1px solid #ffffff7e;
    position: fixed;
    z-index: 99;
    mix-blend-mode: difference;
}

#loader {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 99;
    background-color: #0B0B0B;
    padding: 18vh 8vw;
}

#wait {
    position: relative;
    top: 55vh;
    left: 17vw;
}

.line {
    overflow: hidden;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5vw;
    position: relative;
}

#numloader {
    display: flex;
    padding-left: 2vw;
    align-items: flex-start;
    justify-content: center;
    gap : 2.3vw
}

#numloader h5, #numloader h6 {
    font-size: 3.5vw;
    font-family: "Silk Serif";
    font-weight: 200;
}

#numloader h5 {
    /* background-color: red; */
    width: 5vw;
    text-align: right;
}

.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 600;
}

.line h2{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 500;
    opacity: 0;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
}

#h2{
    height: 2vw;;
    width: 2vw;
    position: relative;
    left: -2.2vw;
    bottom: 0.1vw;
}

@keyframes anime {
    0% {
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
    48% {
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }
    50% {
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 1;
    }
    100% {
        font-family: "silk serif";
        font-size: 5.8vw;
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 0;
    }
}

#main {
    position: relative;
    background-color:  #0B0B0B;
}

#page1 {
    height: 100vh;
    width: 100%;
    background-color: #151515;
}

#page1 #nav {
    padding: 3.5vw 6.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-part2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3vw;
}

#nav-part2 h4 {
    font-size: 1vw;
    font-weight: 500;
}

.hero {
    width: 72%;
    margin-left: 28%;
    height: fit-content;
    overflow: hidden;
}

.hero:nth-child(2) {
    margin-top: 16vh;
}

.hero h1{
    text-transform: uppercase;
    font-size: 7.5vw;
    line-height: 7.5vw;
    letter-spacing: 0.1vw;
    /* font-weight: 600; */
}

#hero3 {
    display: flex;
    align-items: center;
}

.hero h2{
    text-transform: uppercase;
    font-size: 7.5vw;
    line-height: 7.5vw;
    letter-spacing: 0.1vw;
    text-decoration: underline;
}

.hero h3{
    text-transform: uppercase;
    font-size: 7vw;
    line-height: 7.5vw;
    letter-spacing: 0.4vw;
    padding-left: 0.2vw;
}

#hero3 h2:hover {
    -webkit-text-stroke: 1px #fff;
    font-weight: 300;
    color: transparent;
    text-decoration: none;
}
