@font-face {
    font-family: "Plain Light";
    src: url(/Fonts/plain-light-webfont.ttf);
}

@font-face {
    font-family: "Plain Light";
    src: url(/Fonts/plain-regular-webfont.ttf);
}

@font-face {
    font-family: "silk serif";
    src: url(/Fonts/silkserif-lightitalic-webfont.ttf);
}

@font-face {
    font-family: "silk serif";
    src: url(/Fonts/silkserif-regularitalic-webfont.ttf);
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #fff;
    font-family: "Plain Light";
}

body, html {
    height: 100%;
    width: 100%;
}

body {
    overflow: hidden;
}

.mousefollower {
    border: 3px solid #fff;
    background-color: #fff;
    z-index: 99;
    scale: 2;
    mix-blend-mode: difference;
}

#loader {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999999;
    background-color: #0B0B0B;
    padding: 18vh 8vw;
}

#wait {
    position: relative;
    top: 55vh;
    left: 17vw;
}

.line {
    overflow: hidden;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 5vw;
    position: relative;
}

#numloader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 2vw;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap : 2.3vw
}

#numloader h5, #numloader h6 {
    font-size: 3.5vw;
    font-family: "Silk Serif";
    font-weight: 200;
}

#numloader h5 {
    /* background-color: red; */
    width: 5vw;
    text-align: right;
}

.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 600;
}

.line h2{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 500;
    opacity: 0;
    /* animation-name: loaderanime; */
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

#h2{
    height: 2vw;;
    width: 2vw;
    position: relative;
    left: -2.2vw;
    bottom: 0.1vw;
}

@-webkit-keyframes loaderanime {
    0% {
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
    48% {
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }
    50% {
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 1;
    }
    100% {
        font-family: "silk serif";
        font-size: 5.8vw;
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 0;
    }
}

@keyframes loaderanime {
    0% {
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
    48% {
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }
    50% {
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 1;
    }
    100% {
        font-family: "silk serif";
        font-size: 5.8vw;
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 0;
    }
}

#main {
    position: relative;
    background-color:  #151515;
}

#page1 {
    height: 85vh;
    width: 100vw;
    background-color: #151515;
}

#page1 #nav {
    padding: 3.5vw 6.5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

#nav-part2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 3vw;
    position: relative;
    z-index: 99999999;
}

#nav-part2 h4 {
    font-size: 1vw;
    font-weight: 500;
}

.hero {
    width: 72%;
    margin-left: 28%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow: hidden;
}

.hero:nth-child(2) {
    margin-top: 13vh;
}

.hero h1{
    text-transform: uppercase;
    font-size: 7.3vw;
    line-height: 7.3vw;
    letter-spacing: 0.1vw;
    z-index: 999;
    font-weight: 500;
}

#hero1::before {
    content: "01";
    position: absolute;
    font-size: 3.2vw;
    font-family: "silk serif";
    font-weight: 300;
    left: 18%;
    top: 33%;
}

#hero3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 55%;
}

#hero3 h2 {
    text-transform: uppercase;
    font-size: 7.5vw;
    line-height: 7.5vw;
    letter-spacing: 0.1vw;
    border-bottom: 0.5vw solid #fff;
    -webkit-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
    padding-bottom: 0.3vw;
    font-weight: 500;
}

#hero3 h2:hover {
    -webkit-text-stroke: 1px #fff;
    font-weight: 300;
    color: transparent;
    border-bottom: 0.5vw solid #ffffff00;
}

.hero h3{
    text-transform: uppercase;
    font-size: 7vw;
    line-height: 7.5vw;
    letter-spacing: 0.4vw;
    padding-left: 0.2vw;
    font-weight: 500;
}

#page2 {
    height: 100vh;
    width: 100vw;
    background-color: #151515;
    padding-top: 10vh;
    position: relative;
}

#video-container {
    height: 60vh;
    width: 72vw;
    position: relative;
    left: 28%;
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
    background-size: cover;
    background-position: center;
}

#video-container img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
}

#video-container video {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    opacity: 0;
}

#video-cursor {
    height: 10.5vw;
    width: 10.5vw;
    border-radius: 50%;
    background-color: #FEA63C;
    position: absolute;
    top: -12%;
    left: 70%;
    z-index: 9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#video-cursor i {
    font-size: 2vw;
}

#page3 {
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
    padding: 5vh 2vw;
}

#page3 h1 {
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
    margin-left: 28%;
}

#page3 h1::before {
    content: "02";
    position: absolute;
    font-size: 3.2vw;
    font-family: "silk serif";
    font-weight: 300;
    left: -15%;
    top: 5%;
}

#page3 .underline {
    height: 1px;
    width: 100%;
    background-color: #ffffff9a;
    margin: 5vw 0;
    margin-left: 28%;
}

#imageheadings1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: -1.5vw;
}

#imageheadings2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    top: 46vw;
    left: 25vw;
}

.img-head {
    font-size: 2.5vw;
}

#olga {
    position: relative;
    left: 2vw;
}

#ochi {
    position: relative;
    left: 8.5vw;
}

#david {
    position: relative;
    left: 19vw;
}

#image-div-container {
    /* background-color: rgb(220, 109, 127); */
    padding: 1vw;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    /* gap: 3vw; */
}

.image-div {
    height: 38vw;
    width: 29vw;
    /* background-color: #3F7DF4; */
    position: relative;
    overflow: hidden;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin: 1vw;
}

.image-div:nth-child(1){
    height: 30vw;
    width: 22vw;
}

.image-div:nth-child(5){
    margin-top: 7vw;
}

.image-div:nth-child(6){
    margin-top: 7vw;
}

.image-div img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center ;
       object-position: center ;
}

.page3-circle1{
    height: 23vw;
    width: 23vw;
    position: relative;
    border: 2px solid #fff;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 24vh;
    margin-left: 10vw;
}

.page3-circle1 svg {
    height: 30%;
}

.page3-circle2{
    height: 23vw;
    width: 23vw;
    position: relative;
    border: 2px solid #fff;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.page3-circle2 svg {
    height: 30%;
    rotate: -45deg;
}

.circle-in {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    scale: 0;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    -webkit-transition-delay: 0.2s;
         -o-transition-delay: 0.2s;
            transition-delay: 0.2s;
}

.circle-in p{
    color: #000;
    font-size: 1vw;
    font-weight: 800;
    scale: 0;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    -webkit-transition-delay: 0.5s;
         -o-transition-delay: 0.5s;
            transition-delay: 0.5s;
    opacity: 0;
}

.page3-circle1:hover .circle-in {
    scale: 1;
}

.page3-circle1:hover p {
    scale: 1;
    opacity: 1;
}

.page3-circle2:hover .circle-in {
    scale: 1;
}

.page3-circle2:hover p {
    scale: 1;
    opacity: 1;
}


#page4 {
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
    padding: 7vh 0;
}

#page4-content {
    width: 72vw;
    position: relative;
    margin-left: 28%;
}

#page4-content h1 {
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
}

#page4-content h1::before {
    content: "03";
    position: absolute;
    font-size: 3.2vw;
    font-family: "silk serif";
    font-weight: 300;
    left: -15%;
    top: 5%;
}

#page4-content .underline {
    height: 1px;
    width: 100%;
    background-color: #ffffff9a;
    margin: 5vw 0;
}

#page4-content>p {
    font-size: 2.3vw;
    width: 50%;
    margin-bottom: 4vw;
}

#page4-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#page4-flex img {
    width: 45%;
}

#page4-flex p {
    font-size: 1.1vw;
    width: 28%;
    margin-left: 2vw;
    line-height: 1.5;
}

#page4-bluediv {
    background-color: #3F7DF4;
    width: 32vw;
    padding: 3vw 3vw;
    position: relative;
    margin-top: -15vw;
    margin-left: 22vw;
}

.elem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2.3vw 0;
    border-bottom: 1px solid #ffffff9e;
}

.elem h4 {
    font-size: 1.4vw;
    font-weight: 600;
}

.elem p {
    width: 50%;
    font-size: 1vw;
    margin-left: 3vw;
}

#page5 {
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
}

.marquee {
    overflow-x: hidden;
    white-space: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: -3vw;
}

.m {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1vw;
    -webkit-animation: marq 25s linear infinite;
            animation: marq 25s linear infinite;
    padding: 0 0.5vw;   
    margin-bottom: -0.5vw;
}

.m p {
    font-size: 7.5vw;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    color: transparent;
}

.marquee2 {
    overflow-x: hidden;
    white-space: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: -3vw;
}

.m2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1vw;
    animation: marq 25s linear infinite reverse;
    padding: 0 0.5vw;
    margin-bottom: -0.5vw;
}

.m2 p {
    font-size: 7.5vw;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    color: transparent;
}

span {
    font-style: italic;
    color: transparent;
    font-family: "silk serif";
    position: relative;
    bottom: 8%;
}

@-webkit-keyframes marq {
    0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }
}

@keyframes marq {
    0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }
}

#footer {
    height: 90vh;
    width: 100%;
    padding-left: 28%;
    padding-right: 5vw;
}


.footer-text{
    position: relative;
    height: 12vh;
    padding-bottom: 10vw;
    padding-bottom: 12vw;

}

#footer h1{
    font-size: 7vw;
    text-transform: uppercase;
}

#footer h2{
    font-weight: 100;
    font-size: 7vw;
    text-transform: uppercase;
    font-family: "silk serif";
    position: absolute;
    /* z-index: 1; */
    top: -8%;
    height: 20vh;
    left: 0;
    opacity: 1;
    margin-top: 1vw;
}

#footer h1 span {
    font-family: "Plain Light";
    font-style: normal;
    opacity: 1;
    color: #fff;
  }
  

#footer h2 span{
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    opacity: 0;
    font-family: "silk serif";
}


#footer h1::before {
    content: "04";
    position: absolute;
    font-size: 3.2vw;
    font-family: "silk serif";
    font-weight: 300;
    left: -15%;
    top: 5%;
}

.underline {
    height: 1px;
    width: 100%;
    background-color: #ffffffbf;
    margin: 2vw 0;
}

#footer-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    /* gap: 6vw; */
    padding-right: 15vw;
    padding-top: 4vw;
    padding-bottom: 7vw;
}

#footer-div h6 {
    font-size: 1.1vw;
    padding-bottom: 1.5vw;
}

.box {
    width: 30%;
}

#footer-div h5 {
    font-size: 1.8vw;
    line-height: 1;
}

#footer>h5 {
    font-size: 1.1vw;
}

._canvas_container {
    z-index: 999999 !important;
    pointer-events: none;
}

#flag {
    height: 30vw;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 99;
}

#hero3 {
    position: relative;
    z-index: 999
}

@media (max-width: 600px) {

    body {
        overflow-x: hidden;
    }

    #wait {
        position: relative;
        top: 25vh;
        left: 2vw;
    }
    
    #page1 {
        height: 45vh;
        width: 100vw;
        background-color: #151515;
        padding-top: 1px;
    }
    
    #page1 #nav {
        padding: 5.5vw 6.5vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        position: fixed;
        top: 0;
        width: 100%;
    }

    #nav svg {
        scale: 0.7;
    }
    
    #nav-part2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        gap: 3vw;
        display: none;
    }
    
    #nav-part2 h4 {
        font-size: 1vw;
        font-weight: 500;
    }
    
    .hero {
        width: 72%;
        margin-left: 5%;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        overflow: hidden;
    }
    
    .hero:nth-child(2) {
        margin-top: 20vh;
    }
    
    .hero h1{
        text-transform: uppercase;
        font-size: 9.3vw;
        line-height: 9vw;
        letter-spacing: 0.1vw;
        z-index: 999;
        font-weight: 900;
    }
    
    #hero1::before {
        content: "01";
        position: absolute;
        font-size: 4vw;
        font-family: "silk serif";
        font-weight: 900;
        left: 5%;
        top: 35%;
    }
    
    #hero3 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 70%;
    }
    
    #hero3 h2 {
        text-transform: uppercase;
        font-size: 9.3vw;
        line-height: 9vw;
        letter-spacing: 0.1vw;
        border-bottom: 0.5vw solid #fff;
        -webkit-transition: color 0.2s ease;
        -o-transition: color 0.2s ease;
        transition: color 0.2s ease;
        padding-bottom: 0.3vw;
    }
    
    .hero h3{
        text-transform: uppercase;
        font-size: 8vw;
        line-height: 7.5vw;
        letter-spacing: 0.4vw;
        padding-left: 0.1 vw;
    }

    #page2 {
        height: 65vh;
        width: 100vw;
        background-color: #151515;
        padding-top: 6vh;
        position: relative;
    }
    
    #video-container {
        height: 48vh;
        width: 100vw;
        position: relative;
        left: 0%;
        background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
        background-size: cover;
        background-position: center;
    }
    
    #video-container img {
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        position: absolute;
    }
    
    #video-container video {
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        opacity: 0;
    }
    
    #video-cursor {
        height: 25vw;
        width: 25vw;
        border-radius: 50%;
        background-color: #FEA63C;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        z-index: 9;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    
    #video-cursor i {
        font-size: 4vw;
    }

    #page3 {
        min-height: 100vh;
        width: 100%;
        background-color: #151515;
        position: relative;
        padding: 5vh 2vw;
    }
    
    #page3 h1 {
        font-size: 10vw;
        text-transform: uppercase;
        position: relative;
        margin-left: 2%;
    }
    
    #page3 h1::before {
        content: "02";
        position: absolute;
        font-size: 4.2vw;
        font-family: "silk serif";
        font-weight: 300;
        left: 0%;
        top: -40%;
        padding-bottom: 2vw;
    }
    
    #page3 .underline {
        height: 1.5px;
        width: 94%;
        background-color: #ffffff9a;
        margin: 5vw 0;
        margin-left: 3%;
    }
    
    #image-div-container {
        /* background-color: rgb(220, 109, 127); */
        margin-top: 10vw;
        padding: 1vw;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    #imageheadings1 {
        display: none;
    }

    #imageheadings2 {
        display: none;
    }
    
    .image-div {
        height: 110vw;
        width: 92.5vw;
        /* background-color: #3F7DF4; */
        position: relative;
        overflow: hidden;
        -ms-flex-negative: 0;
            flex-shrink: 0;
        margin: 1vw;
        margin-bottom: 5vw;
    }
    
    .image-div:nth-child(1){
        height: 110vw;
        width: 92.5vw;
    }
    
    .image-div img {
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        -o-object-position: center ;
           object-position: center ;
    }
    
    .page3-circle1{
        height: 23vw;
        width: 23vw;
        position: relative;
        border: 2px solid #fff;
        border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-top: 24vh;
        margin-left: 10vw;
        display: none;
    }
    
    .page3-circle1 svg {
        height: 30%;
    }
    
    .page3-circle2{
        height: 23vw;
        width: 23vw;
        position: relative;
        border: 2px solid #fff;
        border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        display: none;
    }
    
    #page4 {
        min-height: 100vh;
        width: 100%;
        background-color: #151515;
        position: relative;
        padding: 3vh 5vw;
    }
    
    #page4-content {
        width: 90vw;
        position: relative;
        margin-left: 0%;
    }
    
    #page4-content h1 {
        font-size: 10vw;
        text-transform: uppercase;
        position: relative;
        /* margin-left: 2%; */
    }
    
    #page4-content h1::before {
        content: "03";
        position: absolute;
        font-size: 4.2vw;
        font-family: "silk serif";
        font-weight: 300;
        left: 0%;
        top: -50%;
        padding-bottom: 2vw;
    }
    
    #page4-content .underline {
        height: 1.5px;
        width: 100%;
        background-color: #ffffff9a;
        margin: 5vw 0 10vw 0;
    }
    
    #page4-content>p {
        font-size: 5.5vw;
        width: 90%;
        margin-bottom: 4vw;
    }
    
    #page4-flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    
    #page4-flex img {
        width: 100%;
        margin: 5vw 0 8vw 0;
    }
    
    #page4-flex p {
        font-size: 3.5vw;
        width: 90%;
        margin-left: 0vw;
        margin-bottom: 6vw;
        line-height: 1.5;
    }
    
    #page4-bluediv {
        background-color: #3F7DF4;
        width: 90vw;
        padding: 3vw 3vw 10vw 3vw;
        position: relative;
        margin-top: 0vw;
        margin-left: 0vw;
    }
    
    .elem {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 7.3vw 0;
        border-bottom: 1px solid #ffffff9e;
    }
    
    .elem h4 {
        font-size: 4.4vw;
        font-weight: 600;
    }
    
    .elem p {
        width: 50%;
        font-size: 3vw;
        margin-left: 3vw;
    }

    #page4-content .underline:nth-last-child(1) {
        height: 1.5px;
        margin: 20vw 0 8vw 0;
    }

    #page5 {
        min-height: 40vh;
        width: 100%;
        background-color: #151515;
    }
    
    .marquee {
        overflow-x: hidden;
        white-space: nowrap;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: -3vw;
    }
    
    .m {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 1vw;
        -webkit-animation: marq 25s linear infinite;
                animation: marq 25s linear infinite;
        padding: 0 0.5vw;   
        margin-bottom: -0.5vw;
    }
    
    .m p {
        font-size: 10vw;
        text-transform: uppercase;
        -webkit-text-stroke: 1px #fff;
        font-weight: 400;
        color: transparent;
    }
    
    .marquee2 {
        overflow-x: hidden;
        white-space: nowrap;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: -3vw;
    }
    
    .m2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 1vw;
        animation: marq 25s linear infinite reverse;
        padding: 0 0.5vw;
        margin-bottom: -0.5vw;
    }
    
    .m2 p {
        font-size: 10vw;
        text-transform: uppercase;
        -webkit-text-stroke: 1px #fff;
        font-weight: 400;
        color: transparent;
    }
    
    span {
        font-style: italic;
        color: transparent;
        font-family: "silk serif";
        position: relative;
        bottom: 8%;
    }
    
    @-webkit-keyframes marq {
        0% {
            -webkit-transform: translateX(0);
                    transform: translateX(0);
        }
        100% {
            -webkit-transform: translateX(-100%);
                    transform: translateX(-100%);
        }
    }
    
    @keyframes marq {
        0% {
            -webkit-transform: translateX(0);
                    transform: translateX(0);
        }
        100% {
            -webkit-transform: translateX(-100%);
                    transform: translateX(-100%);
        }
    }
    
    #footer {
        height: 73vh;
        width: 100%;
        padding: 5vw 5vw;
    }
    
    #footer h1 {
        font-size: 10vw;
        text-transform: uppercase;
        position: relative;
        margin-left: 0;
    }

    #footer h2 {
        font-size: 10vw;
        text-transform: uppercase;
        position: relative;
        margin-left: 0;
        margin-top: -9vw;
    }
    
    #footer h1::before {
        content: "04";
        position: absolute;
        font-size: 4.2vw;
        font-family: "silk serif";
        font-weight: 300;
        left: 0%;
        top: -50%;
        padding-bottom: 2vw;
    }
    
    .underline {
        height: 1.5px;
        width: 100%;
        background-color: #ffffffbf;
        margin: 5vw 0;
    }
    
    #footer-div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        gap: 8vw;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding-right: 15vw;
        padding-top: 4vw;
        padding-bottom: 7vw;
    }
    
    #footer-div h6 {
        font-size: 4vw;
        padding-bottom: 3vw;
    }
    
    .box {
        width: 30%;
    }

    #footer-div #address {
        width: 100%;
    }
    
    #footer-div h5 {
        font-size: 5.5vw;
        line-height: 1;
    }
    
    #footer>h5 {
        font-size: 3.6vw;
    }
}